<% content_for :head do %>
  <%= stylesheet_link_tag "editor", media: "all" %>
  <%= javascript_include_tag "editor", type: "module" %>
<% end %>

<hr>
<%= form_with model: @post, local: true do |form| %>
  <%= form.date_field :date, style: 'display:inline;', value: @post.datetime.strftime("%Y-%m-%d"), type: (@show_date ? :date : :hidden) %>
  <%= form.time_field :time, style: 'display:inline;', value: @post.datetime.strftime("%H:%M"), type: (@show_date ? :time : :hidden) %>
  <%= form.text_field :title, placeholder: "Post title", style: 'display:block;width:100%;font-size:1.2em;', value: @post.title %>

  <%# Hidden textarea is the source of truth for submission; Milkdown mirrors markdown into it. %>
  <%= form.text_area :content, style: 'display:none;', value: @post.content %>

  <div data-milkdown class="milkdown-editor"></div>

  <div style="margin-top:0.5em;">
    <input type="file" id="media-attach" accept="image/*,.mp4,.mov,.hevc,.mp3" style="display:inline;">
    <button type="button" id="media-upload-btn" style="display:inline;">Attach Media</button>
  </div>

  <%= form.submit value: "Save Post", style: "display:block;" %>
<% end %>

<%= link_to "Markdown", "/markdown", target: "_blank" %>
